<div class="container-fluid mt-3">
    <h1>Mi App Chat</h1>
    <hr>

    <div id="messages"></div>

    <form class="form-inline" onsubmit="return addMessage(this)" autocomplete="off">
      <input type="text" id="userEmail" class="form-control my-2 mr-2" placeholder="Email">
      <input type="text" id="message" class="form-control my-2 mr-2" placeholder="Cuéntanos algo...">
      <input class="btn btn-primary my-2" type="submit" value="Enviar!">
    </form>
  </div>