<%- include('./partials/encabezado')-%>
    <script>
        setTimeout(() => {
            window.location = "/";
        }, 2000)
    </script>

    <body>
        <div class="container mt-3">
            <div class="jumbotron">
                <h1 style="color:blue;">Hasta luego!</h1>
            </div>
        </div>
    </body>

    <%- include('./partials/pie')-%>